@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  text-align: center;
  width:100%;
  min-height: 100vh;
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


} */

/* .sticky {
  @apply tw-fixed tw-top-0 tw-w-[100%]
}


.sticky + .content{
  @apply tw-pt-[10%]
}
.sticky + .content + .Home{
  @apply tw-pt-[2%]
} */



/* body{
  width: 100vw;
} */

/* nav{
  background: rgb(74,63,63);
background: linear-gradient(90deg, rgba(74,63,63,1) 0%, rgba(102,0,33,1) 100%);
height: fit-content;
overflow: hidden;
} */

/* nav ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  min-height: 3rem;
  align-items:center;
  padding-left: 0;
  width: 27rem;
  margin: auto;
} */

/* nav ul li a :hover {
  cursor: pointer;
  color: grey;
} */

.activenav {
  @apply tw-cursor-pointer tw-text-orange-400
  /* cursor: pointer; */
  /* background-color: orange;
  color: black; */
  /* color:orange; */
}

/* nav ul li{
  margin: 0 5%;
} */

/* nav ul li a {
  padding: 100% 50%;
  text-decoration: none;
  color : white;
  font-weight: bold;
  font-size: larger;
} */

/* @media only screen and (max-width: 480px) {
  nav ul {
    width: fit-content;
  }
} */

/* @media only screen and (max-width: 576px) {
  .skills h3{
    display: none;
  }
} */

/* .pfp{
  max-width: 50%;
    min-width: fit-content;
    margin: auto;
  margin: auto;
} */

/* .pfp img {
  max-width: 250px;
} */

.Home, .About, .skills, .projects {
  animation: example 3s;
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .Home{
  text-align: center;
  margin-top: 5%;
} */

/* .typingeffect{
  font-weight: bold;
} */

/* .social i{
  padding: 20px;
  color: #46525e;
}

.social i:hover{
  color: #73aae6;
} */

/* .social {
  margin-top: 30px;
  font-size: 40px;
} */

/* .cimg img {
  width: 50%;
  padding: 5%;
} */

/* .cbody{
  text-align: left;
  padding: 0% 5%;
} */

/* .card{
  background-color: #e2e2e2;
  margin: auto;
  align-items: center;
  height: 10%;
  width: 58%;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
} */

/* .card:hover{
  box-shadow: 1px 1px 10px 2px;
} */

.skills img{
  @apply hover:tw-drop-shadow-[2px_2px_2px_gray]
  /* filter: drop-shadow(2px 2px 2px gray); */
}

/* .college{
  margin-top: 5%;
} */

/* .skills {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  margin: 4%;
  border-radius: 10px;
} */

.accordion {
  @apply tw-bg-[#eee] tw-text-[#444] tw-cursor-pointer tw-p-[18px] tw-w-[100%] tw-border-none tw-text-left tw-outline-none tw-text-xl
  /* background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; */
}

.projects .active, .accordion:hover {
  @apply tw-bg-[#ccc]
  /* background-color: #ccc; */
}

/* .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
} */

.projects .active:after {
  content: "\2212";
}

.panel {
  /*padding: 0 18px;
   background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out; */
}

/* .projectacc{
  width: 80%;
  margin: auto;
  text-align: left;

} */

/* .punit{
  margin: 3% 0%;
} */

/* .punit button{
  border-radius:10px;
} */

/* .pimg{
  width: 50%;
  margin: 4% auto;
} */

/* .pimg img{
  width: 100%;
} */

/* .About .aboutdesc {
  width: 60%;
  margin: auto;
} */

/* .Home .desc{
  width: 58%;
  margin: auto;
} */

/* .About{
  padding: 4%
} */

/* .skills img{
  width: 70%;
  margin: 5%;
  margin-top:25%;
} */

/* .skills h3{
  margin-top:2rem;
} */

/* .music{
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 0;
  bottom: 50%;
  background-color: brown;
  border-radius: 7px 0 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.music img{
  width:2rem;
} */

/* .music img:hover{
  transform: scale(1.2,1.2);
}

.music img:select{
  transform: scale(1.2,1.2);
} */


/* .extrainfo input,textarea{
  max-width: 80%;
  margin: 2%;
  border-radius: 5px;
} */

/* .extrainfobox{
  height: 10rem;
  margin-top: 4rem;
} */

/* #resumebox{
  display: flex;
  justify-content: center;
  align-items: center;
}  */
/* 
@media only screen and (max-width: 768px) {
    #sendmailbox{
        height: 15rem;
    }
} */